<tr>
	<td width='50%' height='35' bgcolor='white'>&nbsp;<input type='checkbox' align='absmiddle' id='promoter_{ID}' prop='mail' boxtype='promoter' email='{EMAIL}'  {PHONE} {CHECKED}>&nbsp;{ACT_EDIT}&nbsp;{ACT_REST}&nbsp;{ACT_DEL}&nbsp;{ACT_DELDEL}&nbsp;
		<a href='#' onclick='javascript:getpromoterInfo({ID});' title='Get info on this Promoter' class='style34'>{NAME}</a>
		<div id='stat_{ID}' style='float:right;width:38px;margin:2px 6px;cursor:pointer'>{CELL}<a href='#' style='float:right;' onclick="javascript:update_priority_promoter({ID},{TO_PRI});return false;" class='pri_bt cl{PRI}'></a></div>
	</td>
	<td width='50%' bgcolor='white'><div align='center'>{CONTACT}</div></td>
	
</tr>


