 <table width='95%' border='0' align='center' cellpadding='0' cellspacing='0'>
      <tr>
        <td width='53%' class='style4'>Promoters</td>
        <td width='47%' align='right'>
        <form action="javascript:promoter_list(0,document.getElementById('what1').value);" method="post"><input name="what1" id="what1" class="srch" type="text" size="40" value=""></form>
	</td>
      </tr><tr>
        <td>&nbsp;</td>
        <td width='47%' align='right'>
        {PRI1}
        {PRI2}
        {PRI3}
        {PRI4}
	</td>
      </tr>
</table>
<br />
<table width='95%' border='0' align='center' cellpadding='0' cellspacing='1' bgcolor='#999999'>
              <tr>
                <td bgcolor='#999999' class='style4'><table width='100%' border='0' align='center' cellpadding='0' cellspacing='1'>
                  <tr>
                    <td height='36' colspan='3' bgcolor='#FFFFFF'>&nbsp;&nbsp;<span class='style5'>Promoters</span>&nbsp;&nbsp;{STAT}
			{ACTIVE}{DELETED}</td>
		  </tr><tr><td height='36' colspan='3' bgcolor='#FFFFFF'>&nbsp;&nbsp;{ACT_ADD}&nbsp;&nbsp;{ACT_SEND_CHK}&nbsp;&nbsp;{ACT_SEND_ALL}&nbsp;&nbsp;{ACT_SMS_CHK}&nbsp;&nbsp;{ACT_SMS_ALL}&nbsp;&nbsp;{ACT_CHK_ALL}&nbsp;&nbsp;{ACT_UNCHK_ALL}&nbsp;&nbsp;{ACT_EXPORT}
		    </td>
		  </tr>
<tr><td height='36' class='style18'>Promoter</td><td class='style18'>Contact person</td><td class='style18'>Id</td></tr>